extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Matt Hawes

        p.lead.text-light
          | Full Stack JavaScript Developer.

        .portfolio-bio
          p
            | Hello! I am a JavaScript Developer based in London, UK. I have experience working in Front-end and Back-end development using JavaScript and Node.js. I love working in a team and with other creative's to produce cool projects that look good and work well.
            | I started coding when a friend of mine needed a website, in which I replied 'I can do that'... I didn't quite know what I was getting myself into and I started learning HTML and CSS on YouTube. I was hooked immediately and just like that, I had created my first site. It wasn't long before I started to learn JavaScript at Treehouse, to take my sites to the next level.
            | From my first site, to not going a day without writing a line of code, I love what I do! Welcome to my portfolio. 
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li HTML
          li CSS
          li JavaScript
          li Express
          li Node.js
          li AJAX
          li jQuery
          li Object-Oriented Programming
          li Peer Review
        h6 Contact Info

        ul
          li +44 7919 151643
          li matt.jameshawes2@gmail.com

        a.button.expanded(href='https://github.com/Matt-J-Hawes') GitHub
        a.button.expanded(href='https://twitter.com/MattHawes8') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  