extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
  h1= `${err.message}`
  h2= `${err.status}`
	
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back